* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/restaurantPage.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}


#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
}

.nav__button {
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    transition: 250ms ease all;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 300ms ease all;

}

.nav__button::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(160, 160, 160);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease all;
}

.nav__button:hover {
    color: rgb(160, 160, 160);
}

.nav__button:hover::after {
    width: 100%;
}

.container {
    width: 70%;
    margin: 40px auto;
    margin-top: 100px;
    display: flex;
    padding: 20px;
    background-color: #ffffffa8;
    gap: 30px;
    max-width: 600px;
    border-radius: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.text-container p {
    margin: 20px 0;
}

.present {
    width: 300px;
    border-radius: 25px;
}

.pizza-container {
    max-width: 700px;
    margin: 50px auto;
    margin-top: 100px;
    min-height: 75%;
    max-height: 400px;
    background-color: #ffffffa8;
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
}

.pizza-container::-webkit-scrollbar {
    display: none; /* Прибирає скрол для Chrome, Edge, Safari */
}

.pizza {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}


.pizza-image {
    width: 250px;
    border-radius: 20px;
}

.pizza-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;  
}


.pizza-text-container * {
    margin-bottom: 20px;
}

.about-container {
    background: #ffffffa8;
    width: 600px;
    margin: 50px auto;
    margin-top: 100px;
    border-radius: 20px;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.about-title {
    text-align: center;
    font-size: 28px;
}

.text {
    margin-bottom: 50px;
}






